<main>
  {{#unless sessionId}}
    <section class="container well well-lg public site-description">
      <div class="row">
        <h1>Welcome to Happy Tracker!</h1>
        <ul>
          <p>A collection of happy hours for Denver neighborhoods</li>
            <li>Search by neighborhood and location for happy hour details at various venues</li>
            <li>Filter by times, days, and neighborhood.</li>
            <li>Log in to...</li>
            <ul>
              <li>Contribute to Happy Tracker! If you know of a good happy hour, add it to the site!</li>
              <li>Future Feature: Make a collection of favorite Happy Hours</li>
            </ul>
        </ul>
      </div>
      <article class="row">
        <!-- sign up modal -->
        <div class="col-sm-3 col-sm-offset-3 text-center">
          <p class="button-label">Become a User!</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signUpModal">
            Sign Up Now
          </button>
          <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel">
            <section class="modal-dialog" role="document">
              <div class="modal-content">
                <header class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="signUpModalLabel">Sign Up Today</h4>
                </header>
                <article class="modal-body text-left">
                  <form action="/home/signup" method="post">
                    <fieldset class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" autofocus id="email" name="email">
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </fieldset>
                    <footer class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" id="sign-up" class="btn btn-primary">Sign Up</button>
                    </footer>
                  </form>
                </article>
              </div>
            </section>
          </div>
        </div>
        <!-- Login modal -->
        <div class="col-sm-3 text-center">
          <p class="button-label">Already a user?</p>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#loginModal">Log In Here</button>
          <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <header class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="loginModalLabel">Log In to your account</h4>
                </header>
                <article class="modal-body text-left">
                  <form action="/home/login" method="post">
                    <fieldset class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" name="email">
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </fieldset>
                    <footer class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" id="sign-up" class="btn btn-primary">Log In</button>
                    </footer>
                  </form>
                </article>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
  {{/unless}}

  <section class="container">
    <h2>Denver Neighborhoods</h2>
    {{#each neighborhood}}
      <article class="row">
        {{#each this}}
          <div class="col-sm-3">
            <div class="thumbnail">
              <div class="carousel slide">
                <a href="/neighborhood/{{this.name}}"><img src="{{this.image_url}}" class="img-responsive">
                  <div class="carousel-caption">
                    {{this.name}}
                  </div>
                </a>
              </div>
            </div>
          </div>
        {{/each}}
      </article>
    {{/each}}
  </section>

</main>
