body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

<<<<<<< HEAD
h1 {
  color: red; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
=======
#fav-btn {
  margin-left: 1rem; }

.user-buttons {
  margin: 3.5px; }
>>>>>>> development
